<div class="row vertical-center">
  <div class="col-md-3"></div>
  <div class="col-md-6 ">
    <div class="jumbotron">
      <app-paciente></app-paciente>
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-light doenca" routerLink="/sintomas/1">Alergia</button>
          <br>
          <button type="button" class="btn btn-light doenca" routerLink="/sintomas/2">Bebê chorando</button>
          <br>
          <button type="button" class="btn btn-light doenca" routerLink="/sintomas/3">Cefaléia</button>
          <br>
          <button type="button" class="btn btn-light doenca" routerLink="/sintomas/4">Convulsão</button>
          <br>
          <button type="button" class="btn btn-light doenca" routerLink="/sintomas/5">Diabetes</button>
          <br>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-light doenca" routerLink="/sintomas/6">Diarréia e/ou vômito</button>
          <br>
          <button type="button" class="btn btn-light doenca" routerLink="/sintomas/7">Dispnéia em adulto</button>
          <br>
          <button type="button" class="btn btn-light doenca" routerLink="/sintomas/8">Dor abdominal em adulto</button>
          <br>
          <button type="button" class="btn btn-light doenca" routerLink="/sintomas/9">Quedas</button>
          <br>
          <button type="button" class="btn btn-light doenca" routerLink="/sintomas/10">Trauma cranioencefálico</button>
          <br>
        </div>
      </div>
      <button type="button" routerLink="/home" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>